.container {
  width: 610px;
  margin: 0 auto;
  box-shadow: 4px 4px 20px 10px #27282b;
  padding: 50px;  
}

.container__paragraph {
  font-size: 18px; 
  line-height: 30px;
}

.container a {
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container__photo {
  float: right;
  margin: 15px; 
  box-shadow: 0 0 10px 9px #000000;
}